<% if @owner.errors.any? %>
$('.modal.open .errors .col').html("<ul><%= raw @owner.errors.full_messages.map{|e| '<li>'+e+'</li>'}.join %></ul>")
<% else %>
$("#owner_table tbody tr[data-id='<%= @owner.id %>']").replaceWith("<%= escape_javascript(render 'owner_row_config', owner: @owner) %>")

window.owners = window.owners.filter(function(owner){
    return owner.id !== "<%= @owner.id %>"
})
window.owners.push(<%= raw(@owner.to_json) %>)

$('.modal.open form')[0].reset()
$('.modal.open').modal('close')
<% end %>


