<% if @company.errors.any? %>
$('.modal.open .errors .col').html("<ul><%= raw @company.errors.full_messages.map{|e| '<li>'+e+'</li>'}.join %></ul>")
<% else %>
$("<%= escape_javascript(render 'company_row_config', company: @company) %>").appendTo("#companies_table tbody")
$("<%= escape_javascript(render 'company_row_option', company: @company) %>").appendTo("#new_device_company_id")
$("<%= escape_javascript(render 'company_row_option', company: @company) %>").appendTo("#edit_device_company_id")
$("<%= escape_javascript(render 'company_row_option', company: @company) %>").appendTo("#new_driver_company_id")
$("<%= escape_javascript(render 'company_row_option', company: @company) %>").appendTo("#edit_driver_company_id")
$("<%= escape_javascript(render 'company_row_option', company: @company) %>").appendTo("#new_user_company_id")
$("<%= escape_javascript(render 'company_row_option', company: @company) %>").appendTo("#edit_user_company_id")

window.companies.push(<%= raw(@company.to_json) %>)
$('.modal.open form')[0].reset()
$('.modal.open').modal('close')
<% end %>

