<% if @couples_type.errors.any? %>
$('.modal.open .errors .col').html("<ul><%= raw @couples_type.errors.full_messages.map{|e| '<li>'+e+'</li>'}.join %></ul>")
<% else %>
$("#couples_type_table tbody tr[data-id='<%= @couples_type.id %>']").replaceWith("<%= escape_javascript(render 'couples_type_row_config', couples_type: @couples_type) %>")

window.couples_types = window.couples_types.filter(function(couples_type){
    return couples_type.id !== "<%= @couples_type.id %>"
})
window.couples_types.push(<%= raw(@couples_type.to_json) %>)

$('.modal.open form')[0].reset()
$('.modal.open').modal('close')
<% end %>


