<% if @driver.errors.any? %>
$('.modal.open .errors .col').html("<ul><%= raw @driver.errors.full_messages.map{|e| '<li>'+e+'</li>'}.join %></ul>")
<% else %>
$("<%= escape_javascript(render 'driver_row_config', driver: @driver) %>").appendTo("#drivers_table tbody")
$("<%= escape_javascript(render 'driver_row_option', driver: @driver) %>").appendTo("#new_device_driver_id")
$("<%= escape_javascript(render 'driver_row_option', driver: @driver) %>").appendTo("#edit_device_driver_id")
window.drivers.push(<%= raw(@driver.to_json) %>)
$('.modal.open form')[0].reset()
$('.modal.open').modal('close')
<% end %>

