<div class="row ">
  <div class="col s12">
    <table class="bordered">
      <thead>
        <tr>
          <th class="">Unidad</th>
          <th class="">Conductor</th>
          <th class="">Fecha Desde</th>
          <th class="">Lugar Desde</th>
          <th class="">Fecha Hasta</th>
          <th class="">Lugar Hasta</th>
          <th class="">Velocidad Mayor</th>
          <th class="">Duración en Tiempo</th>
          <th class="">Duración en km</th>
          <th class="">Graficar</th>
        </tr>
      </thead>
      <tbody>
          <% @excesses.each do |imei, e| %>
          <% e[:excesses].each do |excess|%>
          <tr>
            <td class="">
              <%= Device.find_by(imei: imei).name %>
            </td>
            <td class="">
              <%= Device.find_by(imei: imei).driver.to_s %>
            </td>
            <td class="">
              <%= excess[:start_of_exceed].gps_date.strftime("%d/%m/%Y %H:%M:%S") %>
            </td>
            <td class="">
              <%= truncate Geocoder.address("#{excess[:start_of_exceed].geom.coordinates[1]}, #{excess[:start_of_exceed].geom.coordinates[0]}") %>
            </td>
            <td class="">
              <%= excess[:end_of_exceed].gps_date.strftime("%d/%m/%Y %H:%M:%S") %>
            </td>
            <td class="">
              <%= truncate Geocoder.address("#{excess[:end_of_exceed].geom.coordinates[1]}, #{excess[:end_of_exceed].geom.coordinates[0]}") %>
            </td>
            <td class="">
              <%= excess[:max_velocity].round %> km/h
            </td>
            <td class="">
              <% difference = TimeDifference.between(excess[:end_of_exceed].gps_date, excess[:start_of_exceed].gps_date).in_general %>
              <%= "#{difference[:hours]} horas, " if difference[:hours] > 0 %>
              <%= "#{difference[:minutes]} minutos, " if difference[:minutes] > 0 %>
              <%= "#{difference[:seconds]} segundos" if difference[:seconds] > 0 %>
            </td>
            <td class="">
              <%= (distance_gps([excess[:start_of_exceed].geom.coordinates[1], excess[:start_of_exceed].geom.coordinates[0]], [excess[:end_of_exceed].geom.coordinates[1], excess[:end_of_exceed].geom.coordinates[0]]) / 1000).round(1) %> km
            </td>
            <td class="">
              <%= link_to reports_speeds_graph_path(start_of_exceed: excess[:start_of_exceed].gps_date, end_of_exceed: excess[:end_of_exceed].gps_date, imei: imei), target: :_blank, class: 'waves-effect waves-light btn blue' do %>
                <i class="material-icons">visibility</i>
              <% end %>
            </td>
          </tr>
          <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
</div>